# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.env
/src/app.controller.spec.ts
/src/users/users.service.spec.ts
/src/roles/roles.service.spec.ts
/src/auth/auth.service.spec.ts
/src/roles/roles.guard.spec.ts
/src/permissions/permissions.controller.spec.ts
/src/permissions/permissions.service.spec.ts
/src/permissions/permissions.guard.spec.ts
/src/users/users.controller.spec.ts
/src/courses/courses.service.spec.ts
/src/courses/courses.controller.spec.ts
/uploads
/src/students/students.service.spec.ts
/src/students/students.controller.spec.ts
/src/faculties/faculties.controller.spec.ts
/src/faculties/faculties.service.spec.ts
/src/admin/admin.controller.spec.ts
/src/admin/admin.service.spec.ts
/src/main-categories/main-categories.controller.spec.ts
/src/main-categories/main-categories.service.spec.ts
/src/sub-categories/sub-categories.controller.spec.ts
/src/sub-categories/sub-categories.service.spec.ts
/src/topics/topics.controller.spec.ts
/src/topics/topics.service.spec.ts
/src/upload/upload.controller.spec.ts
/src/upload/upload.service.spec.ts
/src/auth/auth.controller.spec.ts
/src/roles/roles.controller.spec.ts
/src/sections/sections.controller.spec.ts
/src/sections/sections.service.spec.ts
/src/videos/videos.controller.spec.ts
/src/videos/videos.service.spec.ts
/src/lectures/lectures.controller.spec.ts
/src/lectures/lectures.service.spec.ts
/src/ratings/ratings.controller.spec.ts
/src/ratings/ratings.service.spec.ts
/test.html
/temp
/src/videos/clear-video-temp-files/clear-video-temp-files.guard.spec.ts
/src/videos/clear-video-temp-files/clear-video-temp-files.interceptor.spec.ts
/src/enrollments/enrollments.controller.spec.ts
/src/enrollments/enrollments.service.spec.ts